/* Variables */
:root {
    --font-primary: sans-serif;

    --color-white: #ffffff;
    --color-black: #333333;
    --color-light: #f1f1f1;
    --color-dark: #444444;

    --color-primary: rgb(68, 218, 128);
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-light);
    font-family: var(--font-primary);
    color: var(--color-dark);
    font-size: 62.5%;
}

.emphasis {
    font-weight: 600;
}

.container {
    background-color: var(--color-light);
    width: 100vw;
}

/* Navigation */
.nav {
    background-color: var(--color-white);
    width: 100%;
    height: 10rem;
    padding: 0 5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}

.nav h1 {
    color: var(--color-dark);
    font-size: 3rem;
    font-weight: 100;
}

.options {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.toggle-inner {
    transition: linear .1s;
}

.toggle--box {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle--box:hover {
    cursor: pointer;
}

.settings {
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings:hover {
    cursor: pointer;
}

/* To-Do List */
.container {
    width: 100vw;
    padding: 4rem;
}

.list {
    background-color: var(--color-white);
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
    padding: 5rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.list-header {
    margin-top: 2rem;
    color: var(--color-primary);
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

/* Summary */
.summary {
    background-color: var(--color-light);
    color: var(--color-dark);
    width: 80%;
    margin: 5rem auto;
    margin-bottom: 3rem;
    padding: 3rem;
}

.summary p {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
}

.summary p:not(:first-child) {
    margin-top: 1rem;
}

/* Empty List Display */
.empty-list-display {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--color-dark);
    border-style: dashed;
    border-radius: .5rem;
}

.empty-list-display i {
    font-size: 4rem;
    opacity: .5;
    margin-bottom: 2rem;
}

.empty-list-display p {
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
    opacity: .5;
}


/* Modal */
.modal-background {
    background-color: #000000;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 100;
    display: none;
}

.side-menu {
    background-color: var(--color-light);
    position: absolute;
    top: 0;
    right: 0;
    width: 50rem;
    height: 100%;
    padding: 5rem;
    z-index: 100;
    filter: brightness(90%);
    display: none;
}

.side-menu-inner {
    width: 100%;
    height: 100%;
}

.close-side-menu {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 3rem;
}

.close-side-menu:hover {
    cursor: pointer;
}

.side-menu-inner h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.side-menu-content {
    width: 100%;
    height: 100%;
}

.modal-shown {
    display: flex;
}

.body-fixed {
    overflow: hidden;
}


/* Media Queries */
@media only screen and (max-width: 40rem) {
    .side-menu {
        width: 100%;
    }
    .nav {
        padding: 0 3rem;
    }
    .options {
        width: 8rem;
    }
    .container {
        padding: 0;
    }
    .list {
        min-height: calc(100vh - 10rem);
        min-width: 100vw;
        padding: 3rem;
    }
    .list-header {
        margin-top: 0;
}
