/* Variables */
:root {
    --font-primary: sans-serif;
    --color-white: #ffffff;
    --color-black: #333333;
    --color-light: #f1f1f1;
    --color-dark: #444444;
    --flex-center:
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-light);
    font-family: var(--font-primary);
    color: var(--color-dark);
    font-size: 62.5%;
}

.container {
    background-color: var(--color-light);
    width: 100vw;
}

/* Navigation */
.nav {
    background-color: var(--color-white);
    width: 100%;
    height: 10rem;
    padding: 0 5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}

.nav h1 {
    color: var(--color-dark);
    font-size: 3rem;
    font-weight: 100;
}

.toggle {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.toggle-inner {
    transition: linear .1s;
}

.toggle--box {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle--box:hover {
    cursor: pointer;
}

/* To-Do List */
.container {
    width: 100vw;
    height: calc(100vh - 10rem);
    padding: 4rem;
}

.list {
    background-color: var(--color-white);
    width: 100%;
    max-width: 54rem;
    height: 30rem;
    border-radius: .5rem;
    margin: 0 auto;
}


/* Media Queries */
@media only screen and (max-width: 40rem) {
    .nav {
        padding: 0 3rem;
    }
}
